.navbar {
  margin: 0;
  padding: 1vh;
  background: #881414;
  line-height: 4.5vh;
}

.navbar .navbar-brand .logo {
  float: left;
  width: 4.5vh;
}

.navbar .navbar-brand {
  cursor: pointer;
  color: rgba(255,255,255, 0.5);
  font-family: Ubuntu;
  font-size: 1.5vh;
  font-weight: 700;
}

.navbar .navbar-brand:hover {
   color: rgba(255,255,255, 0.8);
}

.navbar .navbar-brand span {
  margin: 0 0 0 1vh;
}

.navbar .navbar-nav .nav-item {
  margin: 0;
  padding: 0;
}

.navbar .navbar-nav .nav-item .nav-link{
  margin: 0 1vh;
  padding: 0vh 0.5vh;
  border-radius: 0.5vh;
  color: rgba(255,255,255, 0.8);
  font-family: ubuntu;
  font-size: 1.5vh;
  font-weight: 400;
  border: 1px solid rgba(0,0,0,0);
  
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: rgba(255,255,255, 0.9);
  box-shadow: 0 0 0.5vh 0.25vh rgba(0,0,0,0.25);
  border: 1px solid rgba(0,0,0,0.2);
  background: linear-gradient(to bottom, #e1bd52, #624e12);
}

.navbar-toggler {
  border: 1px solid rgba(0,0,0,0);
  box-shadow: none;
}

.navbar-toggler:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: 0 0 0.5vh 0.25vh rgba(0,0,0,0.25);
  background: linear-gradient(to bottom, #e1bd52, #624e12);
  border: 1px solid rgba(0,0,0,0.2);
}

.navbar-toggler-icon {
  background-image: url('/image/navbar-toggler.svg');
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}